:host {
    font-weight: 500;
    margin-bottom: 8px;
}

:host([required])::after {
    font-weight: 500;
    color: var(--wcs-red);
    content: "*";
}

label {
    display: inline-flex;
    align-items: center;

    // Add margin before tooltip icon
    ::slotted(wcs-mat-icon) {
        margin-left: calc(var(--wcs-base-margin) / 2);
    }
}
